:root {
  --vp-font-family-base: "Source Sans Pro", sans-serif;
  --font-size-base: 14px;
}

body{
  font-size: var(--font-size-base);
}

.vp-doc a {
  color: var(--vp-c-text-1);
}

.vp-doc li + li{
  margin-top: 0;
}

.vp-doc ul {
  list-style: none;
}

.vp-doc ul, .vp-doc ol {
  padding-left: 0;
}